body {
    background-color: #FcDcDD; /* Pale pink is easier on my eyes :) */
    font-size: 1em;
}
h1 {
    color: #240023;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4em;
    margin: auto;
}
p{
    color: #67487a;
    font-size: 2em;
}
di, dd{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

di {
		font-size: 3em;
		color:rgb(114, 92, 203);
}
dd {
		font-size: 2em;
		color: #67487a;
}